# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
/nbproject/
.htaccess
wp-config.php
wp-admin/
wp-includes/
wp-content/uploads/
wp-content/uploads/magictoolbox_cache/
wp-content/uploads/backup/
wp-content/wptouch-data/cache/
wp-content/wptouch-data/backups/
wp-content/uploads/wc-logs/
wp-content/debug.log
wp-content/uploads/sucuri/
wp-content/plugins/
wp-content/themes/emblem/
wp-content/themes/mesmerize-pro/
wp-content/upgrade/
wp-content/languages/
wp-content/themes/emblem-child/assets/
wp-content/languages/
wp-content/failed_plugins/
wp-content/nextgen-gallery/
wp-content/themes/mesmerize-pro-child/scrapbook.*

index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-content/index.php
wp-content/themes/index.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
