<IfModule mod_rewrite.c>
	  RewriteEngine on
	  RewriteBase /
	  RewriteCond %{ENV:REDIRECT_STATUS} 200
	  RewriteRule ^/(.*) http://www.example.com/$1 [L,R]
	  RewriteRule ^(.*) http://gap.webpremiere.dev [L]
</IfModule>
<IfModule mod_deflate.c>
	AddType image/svg+xml .svg .svgz
</IfModule>